.main-scanning-screen-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .scanning-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.4rem;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .thumbnails-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 0.3rem;
      grid-row-gap: 0.6rem;
    }

    .annotations-container {
    }
    .action-buttons-container {
    }
  }
}
