.scanning-options-screen {
  .scanning-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .scanning-option-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
