.comments {
  .comment{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    gap: 0.3rem;
    width: 100%;
    font-size: 0.8rem;
    .date{
      color: var(--ion-color-secondary);
    }
    .text {
      text-align: left;
      word-break: break-word;
    }
    .highlight {
      color: var(--ion-color-primary);
    }
  }

  .new-comment {
    display: flex;
    align-items: flex-end;
    gap: 0.25rem;
    padding-top: 0.5rem;

    ion-textarea {
      flex: 1;
      font-size: 0.8rem;
      --padding-top: 0.4rem;
      --padding-bottom: 0.4rem;
    }

    ion-button {
      margin: 0;
      height: 2.2rem;
    }
  }

  .no-comments{
    text-align: center;
    font-size: 0.9rem;
    padding: 0.5rem 0 1rem 0;
  }
}
