.comments {
  .comment{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    gap: 0.3rem;
    width: 100%;
    font-size: 0.8rem;
    .date{
      color: var(--ion-color-secondary);
    }
    .text {
      text-align: left;
      word-break: break-word;
    }
    .highlight {
      color: var(--ion-color-primary);
    }
  }

  .no-comments{
    text-align: center;
    font-size: 0.9rem;
    padding: 0.5rem 0 1rem 0;
  }
}
