.scanning-profiles {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: var(--ion-safe-area-top);
  padding-bottom: 1rem;

  .sp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  .sp-content {
    flex: 1;

    .hint-container {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;

      .hint {
        text-align: center;
      }
    }
  }
  .buttons-container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    padding: 0 1rem;
  }
}
