.discarding-section {
  gap: 1rem;
  .discard-behavior {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .discard-group-selection {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;

      ion-select {
        width: auto;
      }
    }
  }
}
