.dates-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 0.5rem;

  .start-date-container,
  .end-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
