/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ion-color-primary: #457b9d;
  --ion-color-primary-rgb: 69, 123, 157;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3d6c8a;
  --ion-color-primary-tint: #5888a7;

  --ion-color-secondary: #526475;
  --ion-color-secondary-rgb: 82, 100, 117;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #485867;
  --ion-color-secondary-tint: #637483;

  --ion-color-tertiary: #1d3557;
  --ion-color-tertiary-rgb: 29, 53, 87;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #1a2f4d;
  --ion-color-tertiary-tint: #344968;

  --ion-color-success: #438e29;
  --ion-color-success-rgb: 67, 142, 41;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #3b7d24;
  --ion-color-success-tint: #56993e;

  --ion-color-warning: #ee9d2b;
  --ion-color-warning-rgb: 238, 157, 43;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d18a26;
  --ion-color-warning-tint: #f0a740;

  --ion-color-danger: #e63946;
  --ion-color-danger-rgb: 230, 57, 70;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #ca323e;
  --ion-color-danger-tint: #e94d59;

  --ion-color-light: #f7faff;
  --ion-color-light-rgb: 247, 250, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d9dce0;
  --ion-color-light-tint: #f8fbff;

  --ion-color-medium: #526475;
  --ion-color-medium-rgb: 82, 100, 117;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #485867;
  --ion-color-medium-tint: #637483;

  --ion-color-dark: #383d46;
  --ion-color-dark-rgb: 56, 61, 70;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #31363e;
  --ion-color-dark-tint: #4c5059;

  --ion-background-color: #f0f3f7;

  --ion-font-family: "Roboto", sans-serif;
}
