/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ion-color-primary: #457B9D;
  --ion-color-primary-rgb: 69,123,157;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3d6c8a;
  --ion-color-primary-tint: #5888a7;

  --ion-color-secondary: #526475;
  --ion-color-secondary-rgb: 82,100,117;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #485867;
  --ion-color-secondary-tint: #637483;

  --ion-color-tertiary: #1D3557;
  --ion-color-tertiary-rgb: 29,53,87;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #1a2f4d;
  --ion-color-tertiary-tint: #344968;

  --ion-color-success: #438E29;
  --ion-color-success-rgb: 67,142,41;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #3b7d24;
  --ion-color-success-tint: #56993e;

  --ion-color-warning: #EE9D2B;
  --ion-color-warning-rgb: 238,157,43;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d18a26;
  --ion-color-warning-tint: #f0a740;

  --ion-color-danger: #E63946;
  --ion-color-danger-rgb: 230,57,70;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #ca323e;
  --ion-color-danger-tint: #e94d59;

  --ion-color-light: #F1FAEE;
  --ion-color-light-rgb: 241,250,238;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d4dcd1;
  --ion-color-light-tint: #f2fbf0;

  --ion-color-medium: #526475;
  --ion-color-medium-rgb: 82,100,117;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #485867;
  --ion-color-medium-tint: #637483;

  --ion-color-dark: #383D46;
  --ion-color-dark-rgb: 56,61,70;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #31363e;
  --ion-color-dark-tint: #4c5059;

  --ion-background-color: #E0E9EF;

  --ion-font-family: 'Roboto', sans-serif;
}
