.scanning-profiles {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  padding-bottom: 1rem;

  .sp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  .sp-content {
    .hint-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .hint {
        text-align: center;
      }
    }
  }

  .buttons-container {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    padding: 0 1rem;
  }
}
