.annotation-item {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;

  ion-list-header {
    font-size: 1.1rem;
    font-weight: bold;
  }

  ion-item {
    --inner-padding-top: 0.5rem;
    --inner-padding-bottom: 0.5rem;
    --min-height: 0;
  }
}
