.onboarding-screen-content {
  --background: url("/images/onboarding_bg.png") no-repeat center center / cover !important;

  .onboarding-screen-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: stretch;
  }
}

.ion-palette-dark.ios,
.ion-palette-dark.md {
  .onboarding-screen-content {
    --background: url("/images/onboarding_bg_dark.png") no-repeat center center /
      cover !important;
    #background-content {
      background-size: cover;
    }
  }
}
