.source-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  background-color: var(--ion-color-light);
  gap: 0.5rem;

  .header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .ids {
      display: flex;
      gap: 0.6rem;

      .sky-id {
        font-weight: 500;
      }
      .tns-name {
        color: var(--ion-color-secondary);
      }
    }

    .icon {
      color: var(--ion-color-primary);
      font-size: 1.2rem;
    }
  }

  .created,
  .coords > * {
    display: flex;
    gap: 0.5rem;
    font-size: 0.75rem;

    .label {
      color: var(--ion-color-secondary);
    }
  }
  .coords {
    display: flex;
    flex-direction: column;
  }
}
