.form{
  // Custom Form fields
  fieldset{
    margin: 0;
    padding: 0;
    border: none;

    .field-template-item{
      display: flex;
      flex-direction: column;
      align-items: start;
      margin: 0.5rem 0;
      width: 100%;

      ion-list{
        background: var(--ion-color-light) !important;
      }
    }


    // Field Error Message
    ion-note {
      font-size: 0.8rem;
    }
  }
}