.lower {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  gap: 3rem;

  .instance-container {
    ion-select {
      --background: var(--ion-color-light);
      --border-radius: 50rem;
      --padding-start: 1.5rem;
      --padding-end: 1.5rem;
      --padding-top: 1rem;
      --padding-bottom: 1rem;
    }
  }

  .login-methods {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    ion-button {
      ion-icon {
        margin-right: 0.5rem;
      }
    }
  }
}
