.thumbnail {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32%;

  .thumbnail-name {
    font-size: 0.6rem;
    font-weight: 500;
    color: var(--ion-color-secondary);
  }

  .thumbnail-image {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    border: 0.5px rgba(82, 100, 117, 0.3) solid;
    overflow: hidden;

    img.cutout,
    .thumbnail-skeleton-img {
      width: 100%;
      height: auto;
    }

    .thumbnail-skeleton-img {
      height: 100%;
    }

    .crosshairs {
      position: absolute;
      top: 0;
      left: 0;
      fill: #ffffff;
    }
  }
}
