@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
ion-skeleton-text {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Display backdrop even when multiple modals stacked
ion-modal.modal-default {
  --backdrop-opacity: 0.4 !important;
  --box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5) !important;
}

// Increase the opacity of the popover backdrop
ion-popover {
  --backdrop-opacity: 0.2;
}

.app-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--ion-background-color);
}


.section-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}
.section{
  border: 0.5px rgba(var(--ion-color-secondary-rgb), 0.3) solid;
  align-self: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px rgba(var(--ion-color-medium-rgb), 0.2);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  .section-title {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    color: var(--ion-color-secondary);
  }
}

form {
  .form-section {
    margin-bottom: 1rem;
  }

  .form-list-header {
    padding-left: 2rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: var(--ion-color-secondary);
  }

  ion-list.list-ios.list-inset {
    margin-top: 1.7rem;
    margin-bottom: 0.5rem;
  }

  .form-list-header + ion-list.list-ios.list-inset {
    margin-top: 0.2rem;
  }

  ion-list {
    background: var(--ion-color-light);

    ion-item {
      --background: var(--ion-color-light);
    }

    ion-list-header {
      font-size: 0.8rem;
      font-weight: 800;

      ion-label {
        margin-top: 0;
      }
    }
  }

  .error-container {
    height: fit-content;
    margin: 0.1rem 0;
  }
}

.form-footer {
  padding: 0.5rem 1rem var(--ion-safe-area-bottom);
  z-index: 2;
  width: 100%;
  height: auto;
  box-shadow: 1px -1px 5px 0 rgba(var(--ion-color-medium-rgb), 0.25);
  background: var(--ion-color-light);

  ion-button {
    --padding-start: 4rem;
    --padding-end: 4rem;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
  }
}

// Remove padding from ion-list in md mode
.list-md {
  padding-top: 0;
  padding-bottom: 0;
}

ion-toast.avoid-blocking-page-swipe {
  height: 15%;
  top: 85%;
}
