@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
ion-skeleton-text {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--ion-background-color);
}

form {
  .form-section {
    margin-bottom: 1rem;
  }

  .form-list-header {
    padding-left: 2rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: var(--ion-color-secondary);
  }

  ion-list.list-ios.list-inset {
    margin-top: 1.7rem;
    margin-bottom: 0.5rem;
  }

  .form-list-header + ion-list.list-ios.list-inset {
    margin-top: 0.2rem;
  }

  ion-list {
    background: var(--ion-color-light);

    ion-item {
      --background: var(--ion-color-light);
    }

    ion-list-header {
      font-size: 0.8rem;
      font-weight: 800;

      ion-label {
        margin-top: 0;
      }
    }
  }

  .error-container {
    height: fit-content;
    margin: 0.1rem 0;
  }
}

.form-footer {
  padding: 0.5rem 1rem var(--ion-safe-area-bottom);
  z-index: 2;
  width: 100%;
  height: auto;
  box-shadow: 1px -1px 5px 0 rgba(var(--ion-color-medium-rgb), 0.25);
  background: var(--ion-color-light);

  ion-button {
    --padding-start: 4rem;
    --padding-end: 4rem;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
  }
}
