.scanning-options-container {
  display: flex;
  align-items: center;
  height: 100%;

  ion-chip.add {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-light);
  }

  .scanning-options-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
    padding: 1rem 0.5rem 0;

    fieldset {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      border: none;

      legend {
        font-weight: bold;
        padding-inline: 0;
        color: black;
      }
    }

    .saved-status-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 0.3rem;
      width: 100%;
    }

    .dates-section {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr max-content;
      grid-gap: 1rem;
      align-items: center;
    }

    .filtering-section {
      //min-height: 16rem;
      ion-select {
        --background: none;
        --border-color: var(--ion-color-primary);
        --highlight-height: 0;
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;
        width: max-content;
      }
      ion-select::part(text) {
        color: var(--ion-color-primary);
      }
      .filtering-line {
        display: flex;
        align-items: center;
        gap: 0.8rem;
      }
    }
    .discarding-section {
      .junk-group {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
    .form-footer {
      display: flex;
      flex: 1;
      padding-bottom: 4rem;
      justify-content: center;
      align-items: end;
      width: 100%;
      gap: 1rem;

      ion-button {
        --background: var(--ion-color-primary);
        --color: var(--ion-color-light);
        --padding-start: 4rem;
        --padding-end: 4rem;
        --padding-top: 1rem;
        --padding-bottom: 1rem;
      }
    }
  }
}
