.candidate-annotation-item {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.3rem;

  .pin-icon {
    margin-right: 0.5rem;
  }

  .name-n-value {
    display: flex;
    justify-content: space-between;
    flex: 1;

    .name {
      font-size: 0.7rem;
    }

    .value {
      font-size: 0.8rem;
      font-weight: bold;
    }
  }
}
